.property {
  font-weight: bold;
}

.card-diary {
  max-width: 345px;
  background: rgba(255, 255, 255, 0.5);
}

.likes-and-views {
  margin-left: 30px;
  color: gray;
}

.likes-value {
  margin-left: 5px;
}

.views-value {
  margin-left: 5px;
}

.like-and-views {
  margin-right: 20px;
}
