.diary-additional-container {
  width: 60%;
}
.pages-container {
  height: 100%;
}

.diary.pages {
  align-items: center;
}

.page {
  height: calc(100vh - 350px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.Paginator {
  align-items: center;
}

.pagination {
  justify-content: center;
}
