.diary-additional-container {
  width: 70%;
}
.pages-container {
  height: 100%;
}

.diary-cover-image {
  width: 100%;
  max-height: 280px;
}

.more-info-container {
  margin-top: 15px;
}

.diary.pages {
  align-items: center;
}

.diary-title-info{
  padding-right: 0
}

.page {
  min-height: 80vh;
}

.Paginator {
  bottom: 0px;
  left: 0;
  right: 0;
  position: fixed;
}

.pagination {
  justify-content: center;
}

.emptyPage {
  background-color: gainsboro;
  font-style: italic;
  padding-top: 20%;
  padding-bottom: 20%;
  height: 100%;
}

.down-arrow {
  transform: rotate(180deg);
}

.up-arrow {
}
.diary-content {
  flex: 1 0 auto;
}

.MuiSvgIcon-root{
  font-size: 1.2rem !important;
}
.description-diary {
  display: flex;
  flex-direction: column;
}

.MuiIconButton-colorPrimary:focus {
  outline: 0;
}

.like-button {
  float: right;
}
.icon-text{
  font-size: 0.8rem;
  padding-left: -1rem;
}
