.diary-additional-container {
  width: 60%;
}
.pages-container {
  height: 100%;
}

.diary.pages {
  align-items: center;
}

.page {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Paginator {
  align-items: center;
}

.pagination {
  justify-content: center;
}

.emptyPage {
  background-color: gainsboro;
  font-style: italic;
  padding-top: 20%;
  height: 100%;
}
