.registration-form {
  margin: 3% 25% 0 25%;
  border-radius: 5px;
  padding: 1% 2% 2% 2%;
  background: rgba(255, 255, 255, 0.5);
  height: fit-content;
}

.registration-main {
  background: url(../../sources/images/signup-cover.jpeg) no-repeat center
    center;
  background-size: 100% 100%;
  height: calc(100vh - 82px);
}

.register-btn {
  margin: auto;
  width: 100%;
}
