.registration-form {
  margin: 3% 25% 0 25%;
  border-radius: 5px;
  padding: 1% 2% 2% 2%;
}

.registration-main {
  background: url(../../sources/images/signup-cover.jpeg) no-repeat center fixed;
  height: 660px;
}

.register-btn {
  margin: auto;
  width: 100%;
}
